body {
  color: white;
  background: url(kepek/background.png);
}

.cover {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -5;
}

nav {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 1%;
  padding-left: 120%;
  background: hsla(100, 0%, 0%, .5);
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 60px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Muli', sans-serif;
  font-weight: 700;
}

.tagline {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.hero-text h1 {
  font-family: 'Great Vibes', cursive;
  color: #d2ba87;
  font-size: 8em;
  padding: 5%;
}

.cim {
  font-size: 2em;
}

.hero-text {
  background: hsla(100, 0%, 0%, .5);
  padding: 4%;
  width: 50%;
}

.header-btn {
  display: inline-block;
  padding: 1em 2em;
  margin-top: 1em;
  text-decoration: none;
  color: #d2ba87;
  background-color: hsla(100, 0%, 0%, .5);
  border: 2px solid #d2ba87;
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header-btn:hover {
  background-color: #d2ba87;
  color: white;
}

.logo img {
  position: absolute;
  top: -15px;
  left: 0px;
  width: 6%;
  z-index: 1;
}


/*Szolgaltatasok-----------------------------------------------------------------------------*/

.szolgaltatas {
  text-align: center;
}

.szolgaltatas h2 {
  color: #d2ba87;
  font-size: 50px;
  padding: 3%;
  text-align: left;
}

.szolgaltatas h3 {
  font-size: 1.9rem;
  margin-bottom: 20px;
}


.szolgaltatas .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: calc(33.33% - 34px);
  height: 400px;
  margin: 10px;
  margin-bottom: 3%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  color: black;
  filter: brightness(95%);
  transition: filter 0.3s ease;
}

.box1 {
  background: url(kepek/kertepites.jpg) no-repeat center;
  background-size: contain;
}

.box2 {
  background: url(kepek/gyepszonyegezes.jpg)no-repeat center;
  background-size: contain;
}

.box3 {
  background: url(kepek/kert.jpg)no-repeat center;
  background-size: contain;
}

.box4 {
  background: url(kepek/park.jpg) no-repeat center;
  background-size: contain;
}

.box5 {
  background: url(kepek/ontozo.jpg)no-repeat center;
  background-size: contain;
}

.box6 {
  background: url(kepek/favagas.jpg)no-repeat center;
  background-size: contain;
  margin-bottom: 5%;
}

.box h3 {
  font-size: 3rem;
  text-align: center;
  margin: 0;
  color: white;
}

.box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6 {
    background-size: cover;
  }

.box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(100, 0%, 0%, .5);
  transition: background-color 0.3s ease;
  z-index: -1;
}

.box:hover::after {
  background-color: hsla(100, 0%, 0%, 0);
}

.box i {
  filter: brightness(50%);
  transition: filter 0.3s ease;
}

.box:hover {
  filter: brightness(100%);
}

.box:hover i {
  filter: brightness(100%);
}

/*Rolunk-----------------------------------------------------------*/

.rolunk {
  display: flex;
  align-items: center;
  background: url(kepek/fu.jpg) center;
  background-size: cover;
  background-attachment: fixed;
  padding: 3%;
}

.rolunk_text {
  background-color: hsla(100, 0%, 0%, .8);
  color: white;
  padding: 5%;
  margin-right: 20px;
  max-width: 60%;
  flex: 1;
}

.rolunk h2 {
  font-size: 50px;
  margin-bottom: 3%;
}

.rolunk p {
  font-size: 25px;
}

.profil {
  width: 17%;
  border-radius: 20px;
}


/*Vélemények-----------------------------------------------------------*/

.velemeny {
  padding: 40px 0;
  color: #434343;
  text-align: center;
}

.velemeny h1 {
  font-size: 50px;
}

.velemeny-inner {
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border {
  width: 60%;
  height: 3px;
  background: #d2ba87;
  margin: 26px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex: 25%;
  box-sizing: border-box;
  padding: 15px;
}

.comment {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
}

.comment img {
  max-width: 150px;
  height: 130px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

.stars {
  color: #f0932b;
  margin-bottom: 20px;
}
/*Devider-----------------------------------------------------------*/

.dev-section {
  height: 50vh;
  background-image: url(kepek/sunset.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center; /* Függőleges középre igazítás */
  justify-content: center; /* Vízszintes középre igazítás */
  text-align: center;
  color: white;
}

.counter-container {
  display: flex;
  justify-content: space-between; /* Szélesség elosztása */
  width: 80%;
  max-width: 1200px;
  gap: 170px; /* Térköz a számlálók között */
}

.counter-item {
  text-align: center;
  flex: 1; /* Rugalmas elrendezés, hogy az elemek szépen eloszoljanak */
}

.counter {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}

.icon {
  font-size: 3rem;
  color: #fff;
}






/*Footer-----------------------------------------------------------*/
footer ul {
  list-style: none;
  text-align: center;
  margin: 1.5%;
}

footer li {
  display: inline;
  padding: 4%;
  font-size: 2.5rem;
  color: rgb(44, 43, 43);
}

.footer-d {
  text-align: center;
  width: 100%;
  height: 3rem;
  padding: 0.2rem;
  background: rgb(44, 43, 43);
}

footer i:hover {
  color: #d2ba87;
  font-size: 2.9rem;
  transition: font-size 0.3s
}

@media (min-width: 1300px) and (max-width: 1625px) {
  nav {
    padding-left: 100%;
  }
}

@media (max-width: 1300px) {

  /*header--------------------------------------------------------*/
  nav ul {
    display: block;
  }

  nav {
    padding: 0;
    gap: 0;
  }

  nav li {
    padding: 3%;
  }

  /*szolgaltatasok-----------------------------------------------*/
  .hero-text h1 {
    font-size: 4em;
  }

  .hero-text h2 {
    font-size: 70%;
  }

  .hero-text {
    margin-top: 60%;
    width: 60%;
  }

  .box {
    width: calc(100% - 40px);
  }


  /*velemenyek-----------------------------------------------*/
  .velemeny .row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Térköz a vélemények között */
  }

  .velemeny .col {
    flex: 1 1 100%;
  }

  /*rolunk-----------------------------------------------*/
  .rolunk {
    flex-direction: column;
    align-items: center;
  }

  .rolunk_text {
    margin-right: 0;
    max-width: 90%;
    text-align: center;
  }

  .profil {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 10%;
  }


  /*footer-----------------------------------------------*/
  .social-icons {
    padding: 0;
  }

  .szolgaltatas h2,
  .szolgaltatas h3 {
    font-size: 2.5rem;
  }
}